.container {
  /* border: 2px solid #ccc; */
  margin-top: 3rem;
  width: 100%;
  max-width: 100%;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselItem {
  justify-content: center;
  width: 100%;
}

.carouselImage {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;  
  width:80%;
  padding: 3rem;
  min-width: 300px;
  margin-bottom: 2rem;
}


.carouselCaption {
  margin-top: 1rem;
  display: block;
  justify-content: center;
  text-align: center;
  
}

.carouselLi {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carouselLis {
  border: solid;
  border-radius: 5px;
  padding: .45rem;
  margin: .25rem;
  margin-top: 1rem;
  margin-bottom: 3.5rem;
}

.carousel-item {
  text-align: center;
}


@media only screen and (max-width: 1069px) {
  .container{
    max-width: 100%;
    margin-top: 1rem;
  }

  .carouselImage {
    position: static;
    transform:none;
    width:100%;
    padding: 3.5rem;
    min-width: 300px;
    margin-bottom: 2rem;
  }
}
